<%- include('../partials/admin-header')%>
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Coupons</h2>
            </div>
            <div>
                <a class="btn btn-primary" href="/admin/add-coupon">Add Coupons</a>
            </div>
        </div>
        <% if(coupons.length===0) { %>
            <h3 style="display: flex; justify-content: center; align-items: center;">No Coupons</h3>
            <% } else { %>
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover" id="example">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Expiry-Date</th>
                                        <th scope="col"> Action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% coupons.forEach(coupon=> { %>
                                        <% if (!coupon.Deleted) { %>
                                            <tr>
                                                <td><b>
                                                        <%= coupon.name %>
                                                    </b></td>

                                                <td><b>
                                                        <%= coupon.max_discount %>
                                                    </b></td>

                                                <td><b>
                                                        <%= coupon.expiry_date %>
                                                    </b></td>

                                                <td>
                                                    <a onclick="deleteCoupons('<%= coupon._id %>')"
                                                        class="btn btn-danger rounded font-sm">Remove</a>
                                                </td>

                                            </tr>
                                            <% } %>
                                                <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <% } %>
    </section>
    <script>
        function deleteCoupons(id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: `/admin/delete-coupons/${id}`,
                        method: 'get',
                        success: (response) => {
                            if (response.status) {
                                Swal.fire(
                                    'Deleted!',
                                    'Your file has been deleted.',
                                    'success'
                                );
                                setTimeout(() => {
                                    location.reload();
                                }, 2000);
                            }
                        }
                    });
                }
            });
        }      
    </script>
    <%- include("../partials/admin-footer") %>