<%- include('../partials/custom-header')%>
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Shop
                <span></span> Your Cart
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table shopping-summery text-center clean">
                            <thead>
                                <tr class="main-heading">
                                    <th scope="col">Image</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Subtotal</th>
                                    <th scope="col">Remove</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                <tr>
                                  <% products.forEach(product=> { %>                              
                                    <td class="image product-thumbnail"><img src="/images/<%= product.product.image[0] %>" alt="#"></td>
                                    <td class="product-des product-name">
                                        <h5 class="product-name"><a href="shop-product-right.html"><%= product.product.name %></a></h5>
                                        <p class="font-xs"><%= product.product.description %><br>
                                        </p>
                                    </td>
                                    <td class="text-center" data-title="Stock">
                                        <div class="detail-qty border radius  m-auto">
                                            <a class="qty-down"><i onclick="changeQuantity('<%= product._id %>','<%= product.product._id %>','<%= user._id %>',-1,'<%= product.product.price %>','<%= product.product.stock %>')" class="fi-rs-angle-small-down"></i></a>
                                            <span id="<%=  product.product._id %>" class="qty-val"><%= product.quantity %></span>
                                            <a class="qty-up"><i onclick="changeQuantity('<%= product._id %>','<%= product.product._id %>','<%= user._id %>',1,'<%= product.product.price %>','<%= product.product.stock %>')" class="fi-rs-angle-small-up"></i></a>
                                        </div>
                                    </td>
                                    <% let subTotal =product.product.price* product.quantity  %>
                                    <td class="text-right" id="outOfStock<%= product.product._id %>" data-title="Cart"><% if (product.quantity>product.product.stock) { %>
                                    <span id="price<%= product.product._id %>"><%= subTotal %> <br><span class="noStock" style="color: red;">Out Of Stock</span></span>
                                    <% } else { %>
                                      <span id="price<%= product.product._id %>"><%= subTotal %></span>
                                    <%} %> 
                                    </td>
                                    <td class="action" data-title="Remove"><a onclick="removeCart('<%= product._id %>','<%= product.product._id %>')"><i class="fi-rs-trash"></i></a></td>
                                  </tr>
                                  <% }) %>
                                  <tr>
                                    <td colspan="6" class="text-end">
                                        <a href="#" class="text-muted"></a> 
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="cart-action text-end">
                        <a href="/product-list" class="btn "><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
                    </div>
                    <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>
                    <div class="row mb-50">
                        <div class="col-lg-6 col-md-12">
                            
                            </form>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="border p-md-4 p-30 border-radius cart-totals">
                                <div class="heading_s1 mb-3">
                                    <h4>Cart Totals</h4>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <!-- <tr>
                                                <td class="cart_total_label">Cart Subtotal</td>
                                                <td class="cart_total_amount"><span class="font-lg fw-900 text-brand">Rs<%#= product.product.price %></span></td>
                                            </tr> -->
                                            <tr>
                                                <td class="cart_total_label">Shipping</td>
                                                <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free Shipping</td>
                                            </tr>
                                            <tr>
                                                <td  class="cart_total_label">Total</td>
                                                      <% if (total) { %>
                                                        <td class="cart_total_amount"><strong>Rs<span id="total" class="font-xl fw-900 text-brand"><%= total %></span></strong></td>
                                                        <% } else { %>
                                                        <h4 class="ml-5">Total Rs.<span id="total1">0</span></h4>
                                                        <% } %>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <a href="/place-order" class="btn" id="placeBtn"> <i class="fi-rs-box-alt mr-10"></i> Proceed To CheckOut</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script>
  function changeQuantity(cartId, proId, userId, count, proPrice, stock) {
    let quantity = parseInt(document.getElementById(proId).innerHTML);
    count = parseInt(count);
    console.log(quantity,'/')
    $.ajax({
      url: '/change-product-quantity',
      data: {
        user: userId,
        cart: cartId,
        product: proId,
        count: count,
        quantity: quantity
      },
      method: 'post',
      success: (response) => {
        if (response.removeProduct) {
          Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
          }).then((result) => {
            if (result.isConfirmed) {
              Swal.fire(
                'Deleted!',
                'Your file has been deleted.',
                'success'
              )
            }
          })
        } else {
          let newQuantity = quantity + count;
          let price = newQuantity * proPrice;
          if(stock<newQuantity){
            $('#outOfStock'+proId).empty()
            let outOfStock = `<span id="price${proId}">${price} <br> <span class="noStock">Out Of Stock</span> </span>`
            $('#outOfStock'+proId).append(outOfStock)
          }else{
            document.getElementById('price' + proId).innerHTML = price;
          }
          document.getElementById(proId).innerHTML = newQuantity;
          document.getElementById('total').innerHTML = response.total;
        }
        var noStockElements = document.querySelectorAll('.noStock');
        var noStockArray = [];
        
        noStockElements.forEach(function(element) {
          var spanText = element.textContent;
          noStockArray.push(spanText);
        });
        if(noStockArray.length>0){
         document.getElementById('placeBtn').classList.add('disabled')
          }else{
            document.getElementById('placeBtn').classList.remove('disabled')
          }
      }
    });
  }
  
  function removeCart(cartId,proId){
    Swal.fire({
      title: 'Are you sure you want to remove?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!'

    }).then((result) => {
      if(result.isConfirmed){
        $.ajax({
          url:'/remove-cart',
          method:'post',
          data:{cartId,proId},
          success:(response)=>{
            if (response.status) {
              Swal.fire(
                'Deleted!',
                'Your file has been deleted.',
                'success'
              );
              setTimeout(() => {
                location.reload();
              }, 1500);
            }
          }
        })
      }
    })
  }
  var noStockElements = document.querySelectorAll('.noStock');
  var noStockArray = [];
  
  noStockElements.forEach(function(element) {
    var spanText = element.textContent;
    noStockArray.push(spanText);
  });
  if(noStockArray.length>0){
 document.getElementById('placeBtn').classList.add('disabled')
  }else{
    document.getElementById('placeBtn').classList.remove('disabled')
  }
</script>
<%- include('../partials/custom-footer')%>
