<main class="main">
  <div class="page-header breadcrumb-wrap">
      <div class="container">
  </div>
  <section class="mt-50 mb-50">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="shop-product-fillter">
                      <div class="totall-product">
                      </div>
                      <div class="sort-by-product-area">
                          <div class="sort-by-cover">
                            <div class="sort-by-product-wrap">
                                <div class="sort-by">
                                    <span><i class="fi-rs-apps-sort"></i>Category</span>
                                </div>
                            </div>
                            <div class="sort-by-dropdown">
                                <%( locals.category||[]).forEach(categories => { %> <% if
                                    (!categories.Deleted) { %>
                                <ul>
                                    <li><a onclick="categoryProduct('<%= categories.name %>')" href="/category-lists?id=<%= categories._id %>"><%= categories.name %></a></li>
                            <% } %> <% }) %>
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="row product-grid-3">
                  <% product.forEach(products => { %>
                      <div class="col-lg-3 col-md-4">
                          <div class="product-cart-wrap mb-30">
                              <div class="product-img-action-wrap">
                                  <div class="product-img product-img-zoom">
                                      <a href="/product-lists?id=<%= products._id %>">
                                          <img class="default-img" src="/images/<%= products.image[0]%>" alt="">
                                          <img class="hover-img" src="/images/<%= products.image[0]%>" alt="">
                                      </a>
                                  </div>
                                  <div class="product-action-1">
                                    <a
                                    aria-label="Quick view"
                                    class="action-btn hover-up"
                                    href="/product-lists?id=<%= products._id %>"
                                    ><i class="fi-rs-eye"></i
                                  ></a>
<i class="fi-rs-search"></i></a>
                                     <% if (user) { %>
                    <a
                      aria-label="Add To Wishlist"
                      class="action-btn hover-up"
                      onclick="wishList('<%= products._id %>')"
                      ><i class="fi-rs-heart"></i
                    ></a>
                    <% } else { %>
                      <a
                      aria-label="Add To Wishlist"
                      class="action-btn hover-up"
                      href="/login"
                      ><i class="fi-rs-heart"></i
                    ></a>
                    <% } %>
                                  </div>
                              </div>
                              <div class="product-content-wrap">
                                  <div class="product-category">
                                     
                                  </div>
                                  <h2><a href="shop-product-right.html"><%=products.name%></a></h2>
                                  <div class="product-price">
                                      <span><%=products.price%></span>
                                  </div>
                                  <% if (user) { %>
                                  <div class="product-action-1 show">
                                      <a onclick="addToCart('<%= products._id %>')" aria-label="Add To Cart" class="action-btn hover-up"><i class="fi-rs-shopping-bag-add"></i></a>
                                  </div>
                                  <% } else { %>
                                    <div class="product-action-1 show">
                                        <a onclick="addToCart('<%= products._id %>')" aria-label="Add To Cart" class="action-btn hover-up"><i class="fi-rs-shopping-bag-add"></i></a>
                                    </div>
                                  <% } %>
                              </div>
                          </div>
                      </div>
                <% } )%>
                  </div>
                  <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                      <nav aria-label="Page navigation example">
                          <ul class="pagination justify-content-start">
                              <li class="page-item active"><a class="page-link" href="#">01</a></li>
                              <li class="page-item"><a class="page-link" href="#">02</a></li>
                              <li class="page-item"><a class="page-link" href="#">03</a></li>
                              <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                              <li class="page-item"><a class="page-link" href="#">16</a></li>
                              <li class="page-item"><a class="page-link" href="#"><i class="fi-rs-angle-double-small-right"></i></a></li>
                          </ul>
                      </nav>
                  </div>
              </div>
          </div>
      </div>
  </section>
</main>
<script>
    function categoryProduct(catname) {
      $.ajax({
        url: "/category-products",
        type: "post",
        data: { catname: catname },
        success: (response) => {},
      });
    }
    function addToCart(proId){
        $.ajax({
            url:'/add-to-cart?id='+proId,
            method:'get',
            success:(response)=>{
                console.log(response.cartCount);
                if(response.status){
                    let count =$('#cart-count').html()
                    count=parseInt(count)+1
                    $("#cart-count").html(count)
                    $("#addToCart").empty()
                    let addtocartData = ` <style>
                    .main_menu .cart i:after {
                        content: "${response.cartCount}";
                      }
                 </style>`
                    $("#addToCart").append(addtocartData)    
                }
            }
        })
    }
</script>


