<%- include('../partials/user-header')%>
  <!-- breadcrumb -->
  <div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
      <a href="/" class="stext-109 cl8 hov-cl1 trans-04">
        Home
        <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
      </a>
      <a href="/cart" class="stext-109 cl8 hov-cl1 trans-04">
        Shoping Cart
        <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
      </a>

      <span class="stext-109 cl4">
        Checkout
      </span>
    </div>
  </div>


  <!-- Shoping Cart -->
  <form class="bg0 p-t-75 p-b-85" id="checkout_form">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
          <div class="m-l-25 m-r--38 m-lr-0-xl">
            <div class="wrap-table-shopping-cart">
              <table class="table-shopping-cart">
                <tr class="table_head">
                  <th class="column-1">Product</th>
                  <th class="column-3">Name</th>
                  <th class="column-5">Price</th>
                </tr>
                <% placedProducts.forEach(product=> { %>
                  <tr class="table_row">
                    <td class="column-1">
                      <div class="how-itemcart1">
                        <img src="/images/<%= product.image[0] %>" alt="IMG">
                      </div>
                    </td>
                    <td class="column-3">
                      <%= product.name %>
                    </td>
                    <td class="column-5">
                      <span style="font-weight: bold;" type="number" name="num-product1">
                        ₹<%= product.price %>
                      </span>
            </div>
            </td>
            </tr>

            <% }) %>




              </table>
          </div>

          <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
            <div class="flex-w flex-m m-r-20 m-tb-5">
              <input id='applyCoupon' value="" class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5"
                type="text" name="coupon" placeholder="Coupon Code">

              <a onclick="applyCoupen('<%= user._id %>')"
                class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
                Apply coupon
              </a>
            </div>

            <a href="/cart">
              <div class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
                Update Cart
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
        <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
          <h4 class="mtext-109 cl2 p-b-30">
            Cart Totals
          </h4>

          <div class="flex-w flex-t bor12 p-b-13">
            <div class="size-208">
              <span class="stext-110 cl2">
                Total:
              </span>
            </div>

            <div class="size-209">
              <span style="font-size: 15px; color:red;" class="mtext-110 cl2" id="totalAmount">
                ₹<%=Total%>
              </span>
            </div>
          </div>
          <% if (!user) { %>
            <a href="/address">
              <div class="flex-w"
                style="display: flex; justify-content: center; align-items: center; padding-top: 50px;">
                <div class="flex-c-m stext-101 cl2 size-115 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer">
                  Add Address
                </div>
              </div>
            </a>
            <% } else {%>
              <div class="flex-w flex-t bor12 p-t-15 p-b-30">
                <div class="size-208 w-full-ssm">
                  <span class="stext-110 cl2">
                    Billing Details:
                  </span>
                </div>

                <div class="size-209 p-r-18 p-r-0-sm w-full-ssm">
                  <p class="stext-111 cl6 p-t-2">
                    Please double check your address, or contact us if you need
                    any help.
                  </p>

                  <div class="p-t-15">
                    <div class="bor8 bg0 m-b-12">
                      <input type="text" name="addressId" value="<%= user.address[0]._id %>" hidden>
                      <% const name=user?.address[0]?.firstname.concat(" ", user?.address[0]?.lastname) %>
                      <input class=" stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="name" readonly
                        value="<%= name %>">
                    </div>

                    <div class="bor8 bg0 m-b-12">
                      <input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="country" readonly
                        value="<%= user?.address[0]?.country %>">
                    </div>

                    <div class="bor8 bg0 m-b-12">
                      <input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="state" readonly
                        value="<%= user?.address[0]?.state %>">
                    </div>

                    <div class="bor8 bg0 m-b-12">
                      <textarea class="stext-111 cl8 plh3 size-111 p-lr-15" readonly
                        name="address"><%= user?.address[0]?.address %></textarea>
                    </div>

                    <div class="bor8 bg0 m-b-12">
                      <input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="phoneno" readonly
                        value="<%= user?.address[0]?.Phoneno %>">
                    </div>

                    <div class="bor8 bg0 m-b-22">
                      <input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="postcode" readonly
                        value="<%= user?.address[0]?.postcode %>">
                    </div>
                  </div>
                  <a href="#">
                    <div class="flex-w">
                      <a href="/edit-address?id=<%= user._id %>" type="button"
                        class="flex-c-m stext-101 cl2 size-115 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer">
                        Update Address
                      </a>
                    </div>
                  </a>
                </div>
              </div>
              <% } %>


                <div class="flex-w flex-t p-t-27 p-b-33">
                </div>

                <div class="payment_option">
                  <div class="custome-radio">
                    <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleCheckbox"
                      value="COD" checked>
                    <label style="font-weight: bold;" class="form-check-label" for="exampleRadios3"
                      data-bs-toggle="collapse" data-target="#bankTranfer" aria-controls="bankTranfer">Cash On
                      Delivery</label>
                    <div class="form-group collapse in">
                      <p class="text-muted mt-5">There are many variations of passages of Lorem Ipsum available, but
                        the majority have suffered alteration. </p>
                    </div>
                  </div>
                  <div class="custome-radio">
                    <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleCheckbox"
                      value="razorpay">
                    <label style="font-weight: bold; margin-top: 10px;" class="form-check-label" for="exampleRadios4"
                      data-bs-toggle="collapse" data-target="#checkPayment"
                      aria-controls="checkPayment">RazorPay</label>
                    <div class="form-group collapse in" id="checkPayment">
                      <p class="text-muted mt-5">Please send your cheque to Store Name, Store Street, Store Town,
                        Store State / County, Store Postcode. </p>
                    </div>
                  </div>
                  <%# if (user.wallet>=Total) { %>
                    <div class="custome-radio">
                      <input class="form-check-input" required="" type="radio" name="payment_option"
                        id="exampleCheckbox" value="wallet">
                      <label style="font-weight: bold; margin-top: 10px;" class="form-check-label" for="exampleRadios5"
                        data-bs-toggle="collapse" data-target="#paypal" aria-controls="paypal">Wallet</label>
                      <span id='walletAmount'>
                        <%= user.wallet %>
                      </span>
                    </div>
                    <%# } %>
                </div>

                <button type="submit" id="checkout" style="margin-top: 30px; background-color: rgb(45, 226, 45);"
                  class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                  Place Order
                </button>
        </div>
      </div>
    </div>
    </div>
  </form>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script>
    $("#checkout_form").submit((e) => {
      e.preventDefault()
      let couponCode = document.getElementById('applyCoupon').value
      let userId = document.getElementById('applyCoupon').value
      let discountPrice = parseInt(document.getElementById('totalAmount').innerText)
      let total = document.getElementById('totalAmount').textContent
      total = parseFloat(total.replace('₹', ''));
      let walletTotal = document.getElementById('walletAmount').textContent
      walletTotal = parseFloat(walletTotal.replace('₹', ''));

      $.ajax({
        url: '/checkout',
        method: 'post',
        data: $('#checkout_form').serialize() + '&total=' + total + '&wallet=' + walletTotal,
        success: (response) => {
          if (response.codSuccess) {
            Swal.fire(
              'Good job',
              'You order is placed',
              'success'
            )
            setTimeout(() => {
              location.href = ' /order-success'
            }, 1500)
          } else {
            razorpayPayment(response)
          }
        }
      })
    })
    function razorpayPayment(order) {
      var options = {
        "key": "rzp_test_M2ghOvBNM7gTz9",
        "amount": order.amount, 
        "currency": "INR",
        "name": "PIXELPROS", //your business name
        "description": "Test Transaction",
        "image": "https://example.com/your_logo",
        "order_id": order.id, 
        "handler": function (response) {
          verifyPayment(response, order)
        },
        "prefill": {
          "name": "Gaurav Kumar", //your customer's name
          "email": "gaurav.kumar@example.com",
          "contact": "9000090000"
        },
        "notes": {
          "address": "Razorpay Corporate Office"
        },
        "theme": {
          "color": "#3399cc"
        }
      };
      var rzp1 = new Razorpay(options);
      /*rzp1.on('payment.failed', function (response) {
        window.location.href = '/cart'
      })
      rzp1.on('payment.window.closed', function () {
        window.location.href = '/cart'
      });*/
      rzp1.open();
      /*e.preventDefault();*/
    }

    function verifyPayment(payment, order) {
      $.ajax({
        url: '/verify-payment',
        data: {
          payment,
          order
        },
        method: 'post',
        success: (response) => {
          console.log(response.status)
          if (response.status) {
            location.href = '/order-success'
          } else {
            alert("Payment Failed")
          }
        }
      })
    }
    function applyCoupen(userId) {
      let couponCode = document.getElementById('applyCoupon').value
      let totalAmount = document.getElementById('totalAmount').innerHTML
      $.ajax({
        url: '/apply-coupon',
        data: {
          couponCode,
          userId,
          total
        },
        method: 'post',
        success: (response) => {
          if (response.status == false) {
            Swal.fire(
              'Oops',
              'You coupon is Invalid',
            )
          } else {
            Swal.fire(
              'Success',
              'Your coupon is Applied',
            )
            document.getElementById('totalAmount').innerHTML = response.total
          }
        }
      })
    }
  </script>
  <script>
    function deleteAddress(addressId) {
      $.ajax({
        url: `/delete-address/${addressId}`,
        method: 'post',
        success: (response) => {
          location.reload()
        }
      })
    }
    const checkbox = document.getElementById('exampleCheckbox');
    let total = document.getElementById('totalAmount').textContent
    total = parseFloat(total.replace('₹', ''));
    let walletTotal = document.getElementById('walletAmount').textContent
    walletTotal = parseFloat(walletTotal.replace('₹', ''));
    checkbox.addEventListener('click', function () {
      if (checkbox.checked) {
        let totalPrice = total - walletTotal
        if (total <= walletTotal) {
          document.getElementById('totalAmount').textContent = '₹0'
        } else {
          document.getElementById('totalAmount').textContent = '₹ ' + totalPrice
        }
        if (total >= walletTotal) {
          document.getElementById('walletAmount').textContent = '₹0'
        } else {
          document.getElementById('walletAmount').textContent = '₹ ' + Math.abs(totalPrice)
        }
      } else {
        document.getElementById('totalAmount').textContent = '₹ ' + total
        document.getElementById('walletAmount').textContent = '₹ ' + walletTotal
      }
    });
  </script>
  <%- include('../partials/user-footer')%>