<%- include('../partials/user-header')%>
  <section class="checkout_area padding_top">
    <div class="container">
      <div class="billing_details">
        <div class="row">
          <div class="col-lg-8">
            <h3>Edit Details</h3>
            <form class="row contact_form" action="/edit-address/<%= address._id %>" method="post">
                <div class="col-md-6 form-group p_star">
                    <input type="text" class="form-control" name="name" value="<%= address.name %>"/>
                  </div>
                  <div class="col-md-6 form-group p_star">
                    <input type="text" class="form-control" name="number" value="<%= address.number %>"/>
                  </div>
                  <div class="col-md-12 form-group p_star">
                    <input type="text" class="form-control" name="address" value="<%= address.address %>"/>
                  </div>
                  <div class="col-md-12 form-group p_star">
                    <input type="text" class="form-control" name="country" value="<%= address.country %>"/>
                  </div>
                  <div class="col-md-12 form-group p_star">
                    <input type="text" class="form-control" name="district" value="<%= address.district %>"/>
                  </div>
                  <div class="col-md-12 form-group p_star">
                    <input type="text" class="form-control" name="pincode" value="<%= address.pincode %>"/>
                  </div>                
              <button type="submit" class="btn_3">Edit And Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
<%- include('../partials/user-footer')%>
