<%- include('../partials/custom-header')%>
<main class="main">
  <div class="page-header breadcrumb-wrap">
      <div class="container">
      </div>
  </div>
  <section class="mt-50 mb-50">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <div class="mb-25">
                      <h4>Edit Address</h4>
                  </div>
                  <form action="/edit-address?id=<%= address._id %>" method="post">
                      <div class="form-group">
                          <input type="text" required="" name="name" placeholder="Name *" value="<%= address.name %>">
                      </div>
                      <div class="form-group">
                          <input type="number" name="number" placeholder="Phone Number*" value="<%= address.number %>">
                      </div>
                      <div class="form-group">
                          <input type="text" name="address" placeholder="Address *" value="<%= address.address %>">
                      </div>
                      <div class="form-group">
                          <input type="text" name="country" placeholder="Country *" value="<%= address.country %>">
                      </div>
                      <div class="form-group">
                          <input type="text" name="district" placeholder="District *" value="<%= address.district %>">
                      </div>
                      <div class="form-group">
                          <input type="text" name="pincode" placeholder="Pincode *" value="<%= address.pincode %>">
                      </div>
                      <div class="form-group">
                        <button class="btn btn-success" type="submit" class="btn_3">Save</button>
                    </div>
                  </form>
              </div>
          </div>
      </div>
  </section>
</main>
<%- include('../partials/custom-footer')%>

