<%- include('../partials/user-header')%>

  <style>
    .main-container {
      height: 100%;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.793);
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-y: scroll;
      margin-bottom: 50px;
    }

    .sub-container {
      display: flex;
      flex-direction: column;
      width: 90%;
      border: 1px solid rgb(178, 177, 177);
      position: relative;
      top: 0;
      height: 40%;
      margin-top: 40px;
    }

    .products {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-top: 40px;
    }

    .img {
      width: 40%;
    }

    .product-image {
      width: 30%;
    }

    .product-name {
      width: 30%;
    }

    .product-quantity {
      width: 20%;
    }

    .track-order {
      padding: 20px;
      display: flex;
      align-items: center;
      width: 100%;
      height: 10%;
    }

    .tracking {
      width: 20%;
    }
  </style>

  <div class="main-container">
    <h1 style="margin-top:100px;">Your Orders</h1>
    <% orders.forEach(order=> { %>
      <div class="sub-container">
        <% order?.products?.forEach(product=> { %>
            <div class="products">
              <div class="product-image">
                <img class="img" src="/images/<%= product.product.image[0]%>" alt="product-image">
              </div>
              <div class="product-name">
                <span style="font-weight: bold;">Name: <%= product.product.name %></span>
              </div>
              <div class="product-quantity">
                <span style="font-weight: bold;">Quantity: <%=product.quantity%></span>
              </div>
              <div class="Price">
                <span style="font-weight: bold;">Price: ₹<%=product.product.price%></span>
              </div>
            </div>
            <% }) %>
              <hr>
              <div class="track-order">
                <% if (order.status=='placed' ) { %>
                  <div class="tracking">
                    <a style="font-weight: bold;">Track Order</a>
                  </div>
                  <hr
                    style="height:6px;border-width:0;color:rgb(8, 233, 8);background-color:rgb(6, 190, 6); width: 70%; border-top-left-radius: 10px; border-bottom-left-radius: 10px">
                  <hr
                    style="height:6px;border-width:0;color:rgb(213, 212, 212);background-color:rgb(213, 212, 212); width: 50%; border-top-right-radius: 10px; border-bottom-right-radius: 10px">
                  <% } else { %>
                    <div class="tracking">
                      <a style="background-color: rgb(87, 87, 235); padding: 10px; color: white;">View Details</a>
                    </div>
                    <hr
                      style="height:6px;border-width:0;color:rgb(8, 233, 8);background-color:rgb(6, 190, 6); width: 100%; border-top-left-radius: 10px; border-bottom-left-radius: 10px">
                    <% } %>
              </div>
              <% if (order.status=='placed' ) { %>
                <div style="display: flex; justify-content: center; font-weight: bold;">
                  Out for delivery
                </div>
                <% } else { %>
                  <div
                    style="display: flex; justify-content: end; font-weight: bold; margin-right:20px; color: rgb(150, 149, 149);">
                    Delivered
                  </div>
                  <% } %>
      </div>
      <% }) %>
  </div>
  <%- include('../partials/user-footer')%>
    <script>
      function orderStatus(order, orderStatus) {
        $.ajax({
          url: '/change-status-order',
          data: {
            orderId: order,
            status: orderStatus
          },
          method: 'post',
          success: (response) => {
            if (response.status) {
              location.reload()
            }
          }
        })
      }
    </script>