<%- include('../partials/user-header')%>
<section class="product_list section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="section_tittle text-center">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="product_list_slider owl-carousel">
                    <div class="single_product_list_slider">
                        <div class="row align-items-center">
                            <% products.forEach(product=> { %>
                            <div class="col-lg-3 col-sm-6">
                                <div class="single_product_item">
                                    <a href="/product-lists?id=<%= product._id %>"><img src="/images/<%= product.image[0]%>"></a>
                                    <div class="single_product_text">
                                        <h4><%=product.name%></h4>
                                        <h3><%=product.price%></h3>
                                        <a onclick="addToCart('<%= product._id %>')" class="add_cart">+ add to cart<i class="ti-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                            <% } )%>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product_list_slider owl-carousel">
                        <div class="single_product_list_slider">
                            <div class="row align-items-center">
                                <% products.forEach(product=> { %>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="single_product_item">
                                        <a href="/product-lists?id=<%= product._id %>"><img src="/images/<%= product.image[0]%>"></a>
                                        <div class="single_product_text">
                                            <h4><%=product.name%></h4>
                                            <h3><%=product.price%></h3>
                                            <a onclick="addToCart('<%= product._id %>')" class="add_cart">+ add to cart<i class="ti-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <% } )%>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>
<%- include('../partials/user-footer')%>