<%- include('../partials/custom-header')%>
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/" >Home</a>
                <span></span> Wishlist
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table shopping-summery text-center">
                            <thead>
                                <tr class="main-heading">
                                    <th scope="col" colspan="2">Product</th>
                                    <th scope="col">Price</th>
                                    <!-- <th scope="col">Stock Status</th> -->
                                    <th scope="col">Status  </th>
                                    <th scope="col">Remove</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% products.forEach(product => { %>
                                <tr>
                                    <td class="image product-thumbnail"><img src="/images/<%= product.product.image[0] %>" alt="#"></td>
                                    <td class="product-des product-name">
                                        <h5 class="product-name"><a href="shop-product-right.html"><%= product.product.name %></a></h5>
                                        <p class="font-xs"><%= product.product.description %><br> distingy magndapibus.
                                        </p>
                                    </td>
                                    <td class="price" data-title="Price"><span><%= product.product.price %></span></td>
                                    <td class="text-center" data-title="Stock">
                                        <% if (product.product.stock===0) { %>
                                            <span>
                                              <span style="color: red;">Out Of Stock</span>
                                            </span>
                                            <% } else { %>
                                              <span style="color: rgb(55, 194, 155);">InStock</span>
                                            <%} %>
                                    </td>
                                    <td class="text-right" data-title="Cart">
                                        <% if (product.product.stock!==0) { %>
                                        <button onclick="addToCart('<%= product.product._id %>')" class="btn btn-sm"><i class="fi-rs-shopping-bag mr-5"></i>Add to cart</button>
                                        <%} %>
                                    </td>
                                    <td class="action" data-title="Remove"><a onclick="removeWishlist('<%= product._id %>','<%= product.product._id %>')"><i class="fi-rs-trash"></i></a></td>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script>
    function removeWishlist(wishListId,proId){
        console.log(proId)
        $.ajax({
          url:'/remove-wishlist',
          method:'post',
          data:{wishListId,proId},
          success:(response)=>{
            if(response.status){
            Toastify({
                text: 'Product removed from WishList',
                duration: 1000,
                gravity: 'top',
                position: 'center',
                backgroundColor: "linear-gradient(90deg, #00b09b 0%, #96c93d 100%)",
                stopOnFocus: true,
                className: "toastify-icon",
                close: false,
            }).showToast();
            setTimeout(()=>{
                location.reload()
            },1000)
          }
        }
        })
      }
</script>
<%- include('../partials/custom-footer')%>
